body {
  font-family: "Arimo";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h3 {}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}
/* section */
.coloured-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;

}

/* Heading */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;

}

.section-heading {
  font-size: 3rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "ubuntu";
}

#title .container-fluid{
  padding: 4% 15% 9%;
  text-align: left;

}


/* title-image */
.title-image {
  width: 60%;
  padding-top: 3rem;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Arimo";
}

.navbar {
  padding: 0 0 4.5rem;
}

/* features-section */
#features {
  padding: 7% 15%;

  position: relative;
}


.features-title {
  font-family: "Arimo";
  font-size: 1.5rem;
}

.features-box {

  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* tesimonial section */
#testimonials {

  background-color: #ef8172;

}

.testimonial-text {
  font-size: 3rem;
}



.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

/* press */
#press {
  background-color: #ef8172;

  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;

}

.pricing-title {
  font-family: "Arimo";
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:992px) {
  #title .container-fluid{
    text-align: center;
  }


  .title-image {
    position: static;
    transform: rotate(0);
  }
}




/* footer */


.footer-logo {
  margin: 20px 10px;
}
